<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=[%|loc%]_charset_[%END%]" />
<link rel="stylesheet" href="[% css_url %]/style.css" type="text/css" media="error" title="Derived from style Blank Canvas by tw3k AT tw3k.tw3k.q3machines.net" />

  <title>[%|loc%]Sympa error - could not display web page[%END%]</title>
</head>

<body>

<h2>[%|loc%]Sympa could not deliver the requested page for the following reason : [%END%]<br />
[% IF tt2_error %]
<em>[% tt2_error %]</em><br /><br />
[% ELSIF errors %]
          <table>
          <tr>
            <td>
              [% PROCESS error.tt2 %]
            </td>
          </tr>
          </table>
[% END %]
[%|loc%]Please contact the listmaster.[%END%]</h2>

 <table class="preferences search_form">
  <tr>
    <td><em>[%|loc%]Powered by[%END%]</em></td>
    <td><a href="http://www.sympa.org/">
           <img src="[% icons_url %]/logo-s.png" alt="Sympa [% version %]" />
         </a></td>
   </tr>
  </table>
</body>
</html>

