<div class="block">

<h2>[%|loc%]Select VOOT provider[%END%]</h2>

<p>[%|loc%]Hereafter is the list of VOOT providers that share group information with Sympa. Select which provider you want to use your groups from.[%END%]</p>

<ul>
  [% FOREACH p IN voot_providers %]
    <li><a href="[% path_cgi %]/[% p.next %]/[% list %]/[% p.id %]">[% p.name %]</a>
  [%END%]
</ul>

</div>
